/* @import url('https://fonts.googleapis.com/css?family=Do+Hyeon'); */

@font-face {
    font-family: 'Roboto';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf');
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Light.ttf');
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Light.ttf') format('truetype');
}

#OGAME_EXTENTION {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    pointer-events: none;
}
#OGAME_EXTENTION * {
    pointer-events: auto;
}
#OGAME_EXTENTION .toggles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #2f3261;
    color: white;
    overflow: hidden;
    position: absolute;
    top: 32px;
    right: 0;
    border-radius: 24px 0 0 24px;
}

#OGAME_EXTENTION .toggles > button {
    width: 36px;
    height: 36px;
    background: #686868;
    margin: 12px;
    border-radius: 50%;
    transition: all .24s;
    color: #ccc;
}

#OGAME_EXTENTION .toggles > button:hover {
    width: 36px;
    height: 36px;
    background: #4c4c4c;
    margin: 12px;
    border-radius: 12px;
}
#OGAME_EXTENTION .toggles > button.active {
    background: #5BAD17;
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,.3);
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}

#OGAME_EXTENTION .toggles > button.active:hover {
    background: #498a13;
}

#OGAME_EXTENTION .window {
    background: #4d5aa7;
    color: white;
    max-width: 100%;
    max-height: calc(100% - 21px); /* footer height is 19px border is 1px (top&bottom is 2) */
    overflow: hidden;
    position: absolute;
    border-radius: 6px;
    border: 1px solid #2f3261;
}

#OGAME_EXTENTION .window > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2f3261;
    height: 24px;
    border-bottom: 1px solid #2f3261;
}

#OGAME_EXTENTION .window > .header > span.title {
    display: inline-block;
    cursor: default;
    margin-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#OGAME_EXTENTION .window > .header > .button-container {
    height: 100%;
}
#OGAME_EXTENTION .window > .header > .button-container > button {
    height: 100%;
    color: white;
    width: 24px;
    transition: all .24s;
}
#OGAME_EXTENTION .window > .header > .button-container > button.minimize {
    background: #7b3a23;
}

#OGAME_EXTENTION .window > .header > .button-container > button.minimize:hover {
    background: #9f4b2d;
}

#OGAME_EXTENTION .window > .header > .button-container > button.opacitize {
    background: rgba(255,255,255,.1);
}

#OGAME_EXTENTION .window > .header > .button-container > button.opacitize:hover {
    background: rgba(255,255,255,.2);
}
#OGAME_EXTENTION .window > div:not(.header) {
    overflow: auto;
    width: 100%;
    height: calc(100% - 25px); /* window-header height is 25px */
}
